<div class="row">
    <div class="col-12 col-md-8 box">
        <h2 >Quy định cần nắm rõ</h2>
        <div mat-dialog-content>
            <div class="desc">
                <mat-icon>info</mat-icon>
                <span>Bạn chỉ có <span class="time">15 giây</span> cho mỗi câu hỏi.</span>
            </div>
            <div class="desc">
                <mat-icon>info</mat-icon>
                <span>Sau khi bạn chọn câu trả lời của mình, bạn không thể huỷ bỏ câu trả lời.</span>
            </div>
            <div class="desc">
                <mat-icon>info</mat-icon>
                <span>Bạn không thể chọn câu trả lời sau khi hết thời gian.</span>
            </div>
            <div class="desc">
                <mat-icon>info</mat-icon>
                <span>Nếu thoát khỏi trang web khi đang làm bài sẽ bị dánh giá là <span class="note">0</span>
                    điểm</span>
            </div>
        </div>
        <div mat-dialog-actions class="btn">
            <button mat-raised-button mat-dialog-close>Đã hiểu rõ quy định</button>
        </div>
    </div>
</div>