<mat-drawer-container class="box" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <a routerLink="questions" routerLinkActive="active" mat-raised-button class="quiz-btn" (click)="title='Quản lý câu hỏi'">
      <mat-icon>question_answer</mat-icon> Quản lý câu hỏi
    </a> 
    <a routerLink="clients"  routerLinkActive="active" mat-raised-button class="quiz-btn" (click)="title='Danh sách thi'">
      <mat-icon>supervised_user_circle</mat-icon> Danh sách thi
    </a>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="menu">
      <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()" >
        Menu
      </button>
      <span class="title p-3">{{title}}</span>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>