<mat-drawer-container class="box" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <a routerLink="questions" routerLinkActive="active" mat-raised-button class="quiz-btn"
      (click)="title='Quản lý câu hỏi'">
      <mat-icon>question_answer</mat-icon> <span class="text">Quản lý câu hỏi</span>
    </a>
    <a routerLink="clients" routerLinkActive="active" mat-raised-button class="quiz-btn"
      (click)="title='Danh sách thi'">
      <mat-icon>supervised_user_circle</mat-icon>
      <span class="text">Danh sách thi</span>
    </a>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="menu">
      <h4 class="title  p-2">{{title}}</h4>
    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="group-btn-mobile">
    <a routerLink="questions" routerLinkActive="active" 
      (click)="title='Quản lý câu hỏi'">
      <mat-icon>question_answer</mat-icon> <span class="text"></span>
    </a>
    <a routerLink="clients" routerLinkActive="active" 
      (click)="title='Danh sách thi'">
      <mat-icon>supervised_user_circle</mat-icon>
    </a>
  </div>

</mat-drawer-container>