<button mat-raised-button color="primary" (click)="printPdf()">Xuất PDF</button>


<table class="report-table" #pdfTable>
  <tr class="search">
    <th>Tên</th>
    <th>Trường</th>
    <th>Lớp</th>
    <th>Cấp</th>
    <th>Đề</th>
    <th>Điểm</th>
    <th>Ngày làm</th>
  </tr>
  <tr class="">
    <th>Tên</th>
    <th>Trường</th>
    <th>Lớp</th>
    <th>Cấp</th>
    <th>Đề</th>
    <th>Điểm</th>
    <th>Ngày làm</th>
  </tr>
  <tr *ngFor="let client of clients">
    <td>{{client.name}}</td>
    <td>{{client.school}}</td>
    <td>{{client.class}}</td>
    <td>{{client.levelId}}</td>
    <td>{{client.topicId}}</td>
    <td>{{client.score}}</td>
    <td>{{client.time|date:'dd/MM/YYYY h:mm a'}}
    </td>
  </tr>
</table>