<button mat-raised-button color="primary" (click)="printPdf()">Xuất PDF</button>


<table class="report-table" #pdfTable>
  <!-- <tr class="search">
    <th>Tên</th>
    <th>Trường</th>
    <th>Lớp</th>
    <th>
      <mat-form-field appearance="outline">
        <mat-label>Lọc theo cấp</mat-label>
        <mat-select [(value)]="selectedLevel">
          <mat-option value="Tất cả">Tất cả</mat-option>
          <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
        </mat-select>
      </mat-form-field>
    </th>
    <th>
      <mat-form-field appearance="outline">
        <mat-label>Lọc theo đề</mat-label>
        <mat-select [(value)]="selectedTopic">
          <mat-option value="Tất cả">Tất cả</mat-option>
          <mat-option *ngFor="let topic of topics" [value]="topic">{{topic}}</mat-option>
        </mat-select>
      </mat-form-field>
    </th>
    <th>Điểm</th>
    <th>Ngày làm</th>
  </tr> -->
  <tr class="">
    <th>Tên</th>
    <th>Trường</th>
    <th>Lớp</th>
    <th>Cấp</th>
    <th>Đề</th>
    <th>Điểm</th>
    <th>Ngày làm</th>
  </tr>
  <tr *ngFor="let client of clients">
    <td>{{client.name}}</td>
    <td>{{client.school}}</td>
    <td>{{client.class}}</td>
    <td>{{client.levelId}}</td>
    <td>{{client.topicId}}</td>
    <td>{{client.score}}</td>
    <td>{{client.time|date:'dd/MM/YYYY h:mm a'}}
    </td>
  </tr>
</table>