<div class="report">
  <div *ngIf="!isLogged">
    <h2>
      Phần này chỉ dành cho giáo viên.<br />Nếu bạn là giáo viên xin hãy nhập tài
      khoản và mật khẩu
    </h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Tài khoản</mat-label>
        <input type="text" matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Mật khẩu</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
          Xác nhận
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="isLogged">
    <h2>
      Xin chào {{formGroup.value.username}}
    </h2>
    <div class="report-action">
      <button mat-raised-button color="basic" class="report-btn" (click)="reportPDF()">
        Xem PDF
      </button>
      <button mat-raised-button color="basic" class="report-btn" (click)="printPDF()">
        In PDF
      </button>
      <button mat-raised-button color="basic" class="report-btn" (click)="printPDF()">
        Tạo câu hỏi
      </button>
    </div>
    <app-report-box-grid [dataSource]="dataSource"></app-report-box-grid>
  </div>
</div>