<div class=box>
  <div class="bg" *ngIf="showBackground">
    <img src="../../assets/loading.jpg">
  </div>
  <div class="game-box" *ngIf="showGame">
    <div class="alert alert-danger" *ngIf="time_start <= time_alert">
      Sắp hết thời gian. Còn <b>{{time_start}}</b> phút !!!
    </div>
    <header>
      <div class="title">Tìm hiểu kiến thức ATGT</div>
      <div class="timer">
        <countdown [config]="{leftTime: time_start*60}"></countdown>
      </div>
      <div class="time_line" [style.width]="percent_time"></div>
    </header>
    <!-- section -->
    <div class="card-body scroll">
      <section *ngFor="let question of questions; let i = index" [class.hide]="i !== currentQuestion">
        <div class="que_text">
          <span>{{ question.question }}</span>
        </div>
        <div *ngIf="question.questionImg" class="question-img text-center">
          <img [src]="question.questionImg" width="100%">
        </div>
        <div class="option_list" [class.flex]="question.type==='picture'">
          <ng-container *ngFor="let option of question.answers; let j = index">
            <div class="option" [class.correct]="user_select[i]==j" (click)="optionSelected(i,j)">
              <span *ngIf="question.type==='picture'; else nopicture" class="option_img">
                <img [src]="option.name">
              </span>
              <ng-template #nopicture>
                <span>{{ option.name }}</span>
              </ng-template>
              <mat-icon class="icon tick">check</mat-icon>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
    <!-- footer -->
    <footer>
      <div class="total_que">
        Số lượng: <span>{{ ques_total }}</span> câu hỏi
      </div>
      <div class="footer-btn">
        <button type="button" class='me-1' [disabled]="currentQuestion==0" mat-raised-button color="primary"
          (click)="currentQuestion=currentQuestion-1">
          Câu trước
        </button>
        <button type="button" mat-raised-button color="primary" (click)="nextQuestion()">
          <span *ngIf="currentQuestion < ques_total - 1">Câu tiếp theo</span>
          <span *ngIf="currentQuestion === ques_total - 1">Hoàn thành</span>
        </button>
      </div>
    </footer>
  </div>

  <div class="result_box" *ngIf="showResult">
    <img src="../../assets/IMG_0718.JPG" alt="" />
    <div class="complete_text">Bạn đã hoàn thành bài kiểm tra!</div>
    <div class="score_text">
      <span>{{ result_info[seletSlogan][1] }}! {{ result_info[seletSlogan][0] }}, {{ client.name }} đạt
        <p>{{ score }}</p>
        trên tổng số
        <p>{{ ques_total }}</p>
      </span>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" routerLink="/">Kết thúc</button>
    </div>
  </div>
</div>
