:host {
  width: 100%;
  padding: 10px;
  
}
.box-level{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  button{
    min-height: 45.56px;
  }
  
}
.row{
  width: 100%;
  overflow: hidden;
}

.question{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
  &:first-child{
    margin-top: 10px;
  }
  .question-info{
    flex: 1;
  }
  .question-btn{
    display: flex;
    gap: 5px;
    max-height: 48px;
  }
}
