mat-expansion-panel{
    margin: 10px 0;
    width: 80%;
}

:host{
    width: 100%;
    padding: 10px;
}
.answer{
    display: flex;
    align-items: center;
}
.question{
    display: flex;
    align-items: flex-start;
    button{
        width: 50px;
        height: 36px;
        padding: 0 16px;
        margin: 10px  5px;
    }
}
.group{
    button{
        margin: 0 10px;
    }
}

.custom-input{
    margin-right: 10px;
}