:host {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.box-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.box-level {
  .item {
    width: 100%;
    margin-bottom: 10px;
  }
  button {
    height: 56.81px;
  }
}
.questions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 10px;
  }
  .question {
    flex: 1;
    display: flex;
  }
  .mat-expansion-panel{
    width: 100%;
  }
  .answer{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .button {
    display: flex;
    gap: 5px;
    max-height: 48px;
  }
}

@media only screen and (max-width: 600px) {
  .box-level {
    button {
      height: 40px;
    }
  }
  .questions {
    flex-wrap: wrap;
    .question {
      flex: none;
      width: 100%;
    }
  }
}
