<div class=" box">
  <div class="header">
    <div class="header-logo">
      <img src="../assets/LOGO_CSG.svg" alt="" class="logo" />
      <h2 class="title">
        công an <br> thị xã sông cầu
      </h2>
    </div>
    <div class="header-button">
      <a mat-button  class="home-btn" routerLink="/">
        <mat-icon>home</mat-icon>
        <span class='text'>Trang chủ</span>
      </a>
      <a *ngIf="!isLogged" mat-raised-button color="primary" class="login-btn" (click)="openDialog()">
        <mat-icon> person_pin</mat-icon>
        <span class='text'>Đăng nhập</span>
      </a>
      <a *ngIf="isLogged" mat-raised-button color="primary" class="login-btn" routerLink="admin">
        <mat-icon> person_pin</mat-icon>
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
