<div class=" box">

  <div class="header">
    <img src="../assets/LOGO_CSG.svg" alt="" class="logo" />
    <span class="spacer">công an tx sông cầu</span>
    <a mat-stroked-button color="primary" class="login-btn" routerLink="/">Trang chủ</a>
    <a mat-raised-button color="primary" class="login-btn" (click)="openDialog()">Đăng nhập</a>

    <button class="toggle" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Trang chủ</button>
      <button mat-menu-item (click)="openDialog()">Đăng nhập</button>
    </mat-menu>
  </div>

  <router-outlet></router-outlet>
  <footer></footer>
</div>