<div class="col-12 col-md-6 col-lg-4 box">
  <div class="box-title">
    <h1 mat-dialog-title class="title">Tạo thông tin đăng ký</h1>
    <mat-spinner [diameter]="20" class="load" *ngIf="isCreating"></mat-spinner>
  </div>
  <div *ngIf="clientForm" mat-dialog-content class="box-form">
    <form class="form" [formGroup]="clientForm">
      <mat-form-field class="full-width" appearance="outline" class="col-12">
        <mat-label>Họ và Tên</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>
      <div class="col-12 custom-flex">
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="custom-input">
            <mat-label>Trường</mat-label>
            <input type="text" matInput formControlName="school" />
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="custom-input float-right">
            <mat-label>Lớp</mat-label>
            <input type="text" matInput formControlName="class" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="col-6 ">
          <mat-form-field appearance="outline" class="custom-input">
            <mat-label>Cấp</mat-label>
            <mat-select formControlName="levelId" (selectionChange)="getTopics()">
              <mat-option *ngFor="let level of levels" [value]="level.levelId">
                {{level.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="custom-input float-right">
            <mat-label>Bộ đề</mat-label>
            <mat-select formControlName="topicId">
              <mat-option *ngFor="let topic of topics" [value]="topic.topicId">
                {{ topic.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions>
        <button class="btn btn-danger" [mat-dialog-close]="true">Quay lại</button>
        <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid" (click)="onSubmit()">Bắt đầu</button>
      </div>
    </form>
  </div>
</div>
