.box {
  background-color: #fff;
  margin: 0 auto;

  border-radius: 5px;
}
.box-form {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 30px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px;
  margin: 0 auto;
}
.title {
  padding-top:10px ;
  text-align: center;
  font-weight: bold;
}
.custom-flex {
  display: flex;
}
.custom-input {
  width: 95%;
}
.float-right {
  float: right;
}
.box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  .load {
    margin-bottom: 16px;
    margin-left: 30px;
  }
}

.btn-danger {
  margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
  .box-form {
    padding: 20px 5px;
  }
  .custom-flex {
    flex-direction: column;
    .custom-input {
      width: 100%;
    }
  }
}
