<div class="img-landing mb-2">
  <img src="../../assets/landing_img.jpeg" alt="background">
</div>
<div class="info px-2">
  <a mat-raised-button color="primary" class="grid-1" (click)="openFormClient()">Tham gia dự thi</a>
  <a mat-raised-button color="primary" class="grid-2" (click)="openRules()">Thể lệ cuộc thi</a>
  <div class="time-start time-box grid-3">
    <p>Bắt đầu</p>
    <p>08H00 <br> {{ getDateTime() | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div class="time-end time-box grid-4">
    <p>Kết thúc</p>
    <p>11H00 <br> {{ getDateTime() | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div class="time-total time-box grid-5">
    <p>Cuộc thi kết thúc trong</p>
    <p>11H00 <br> {{ getDateTime() | date: 'dd/MM/yyyy' }}</p>
  </div>
</div>
