.img-landing {
  img {
    width: 100%;
    object-fit: cover;
  }
}
.grid-1 {
  grid-area: a;
}
.grid-2 {
  grid-area: b;
}
.grid-3 {
  grid-area: c;
}
.grid-4 {
  grid-area: d;
}
.grid-5 {
  grid-area: e;
}
.info {
  display: grid;
  grid-template-areas: "a a b b c d e e";
  gap: 10px;
  font-size: 16px;
  line-height: 1.2;
  a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  .time-box {
    border: 1px solid #0d6efd;
    text-align: center;
    font-weight: 500;
    color: #0d6efd;
    & p {
      padding: 5px;
    }
    & p:first-child {
      border-bottom: 1px solid #0d6efd;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}
@media only screen and (max-width: 767px) {
  .info {
    margin-top: 10px;
    grid-template-areas:
      "a a b b"
      "c d e e";
      & a{
        min-height: 60px;
      }
  }
}

@media only screen and (max-width: 500px) {
  .info {
    grid-template-areas:
      "a a"
      "b b" "c d" "e e";
    a {
      min-height: 50px;
      font-size: 16px;
      padding: 0;
    }
  }
}
