.img-landing {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title,
  .sub {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #5d23e8;
    text-transform: uppercase;
    width: 100%;

  }
  .sub{
    top: 5%;
    font-size: 20px;
    font-weight:500;
  }
  .title{
    top: 15%;
    font-size: 35px;
  }
  
}
.grid-1 {
  grid-area: a;
}
.grid-2 {
  grid-area: b;
}
.grid-3 {
  grid-area: c;
}
.grid-4 {
  grid-area: d;
}
.grid-5 {
  grid-area: e;
}
.info {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: "a a b b c d e e";
  gap: 10px;
  font-size: 16px;
  line-height: 1.2;
  a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  .time-box {
    border: 1px solid #0d6efd;
    text-align: center;
    font-weight:500;
    & p {
      padding: 5px;
    }
    & p:first-child {
      border-bottom: 1px solid #0d6efd;
      margin-bottom: 10px;
      font-weight: bold;
    }
   
  }
}
@media only screen and (max-width: 800px) {
  .info {
    grid-template-areas:
      "a a b b"
      "c d e e";
  }
}
@media only screen and (max-width: 600px) {
  .img-landing {
    height: 45vh;}
}
@media only screen and (max-width: 500px) {
  .info {
    grid-template-areas:
      "a a"
      "b b" "c d" "e e";
    a {
      min-height: 50px;
      font-size: 16px;
      padding: 0;
    }
  }
  .img-landing {
    height: 35vh;
    .title{
      font-size: 25px;
    }
    .sub{
      font-size: 16px;
    }
}
}
