<div class="info_box">
  <img src="../../../assets/modal_bg.jpg" alt="" />
  <div class="info-title"><span>Quy định cần nắm rõ</span></div>
  <div class="info-list">
    <div class="info">1. Bạn chỉ có <span>15 giây</span> cho mỗi câu hỏi.</div>
    <div class="info">
      2. Sau khi bạn chọn câu trả lời của mình, bạn không thể huỷ bỏ câu trả
      lời.
    </div>
    <div class="info">
      3. Bạn không thể chọn câu trả lời sau khi hết thời gian.
    </div>
    <div class="info">
      4. Bạn không thể thoát khỏi trò chơi khi đang làm bài.
    </div>
    <div class="info">
      5. Bạn sẽ nhận được điểm dựa trên các câu trả lời đúng của bạn.
    </div>
  </div>
  <div class="buttons">
    <button mat-stroked-button color="basic">Quay lại</button>
    <button mat-raised-button color="primary" (click)="onContinues()">
      Tiếp tục
    </button>
  </div>
</div>
